.column-name {
  margin-top: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.column-description {
  text-align: justify;
}

.column-detail {
  margin: 1rem 0 0 1rem;
}
