<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <ng-container>
      <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="userManagement = !userManagement" [attr.aria-expanded]="userManagement"
          aria-controls="userManagement">
          <span class="menu-title">User Management</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-domain menu-icon"></i>
        </a>
        <div class="collapse" id="userManagement" [ngbCollapse]="!userManagement">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" routerLink="/user-management/user"
                routerLinkActive="active">Users</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="taskManagement = !taskManagement" [attr.aria-expanded]="taskManagement"
          aria-controls="taskManagement">
          <span class="menu-title">Task Management</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-domain menu-icon"></i>
        </a>
        <div class="collapse" id="taskManagement" [ngbCollapse]="!taskManagement">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" routerLink="/task-management/task"
                routerLinkActive="active">Tasks</a>
            </li>
          </ul>
        </div>
      </li>
    </ng-container>
  </ul>
</nav>