.modal-header {
  // background-color: #064780;
  background-color: #0e7198;

  .modal-title {
    color: #ffffff;
  }
}

.modal-body {
  background-color: #fff;
  color: #000;
}

.modal-footer {
  background-color: #fff;
  color: #000;
}
